exportPattern("^[[:alpha:]]+")

importFrom("stats", "kmeans", "rmultinom", "rnorm", "var")
importFrom("utils", "tail")
importFrom("mvtnorm", "rmvnorm")
importFrom("plyr", "count")

export(MixMVN_BayesianPosteriori, MixMVN_GibbsSampler, MixMVN_MCMC, MVN_BayesianIterator, MVN_BayesianPosteriori, MVN_GibbsSampler, MVN_FConditional, MVN_MCMC)
